<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hey <%= @doctor.name %>! Welcome to Kachi's Hospital</h1>
    <p>
       Welcome to Kachi's Hospital. Please complete your registration to start attending to patients by
       clicking <%= link_to "here", edit_doctor_url(@doctor) %>
      <!-- Add a link to the page for managing an appointment here -->
    </p>
  </body>
</html>
