<div class="specializations-list">
  <h2 id="specializations-list-header">
    All specializations
  </h2>
  <div class="ui stackable three column grid">
    <div class="row">
      <%= render @specializations %>
    </div>
  </div>
</div>
<div id="specialization-pagination-links">
  <%= will_paginate @specializations, renderer: WillPaginateSemanticUi::ActionView::Renderer %>    
</div> 
