<div class="pusher" id="home-page">
  <div class="ui vertical masthead center aligned segment" id="home-page-background">
    <div class="ui text center" id="home-centered-text">
      <div class="main-section">
        Making your appointment bookings easy and seamless
        <div class="button-groups">
          <button type="button" name="appointment-button" class="home-buttons">
            Make an Appointment
          </button>
          <button type="button" name="history-button" class="home-buttons">
            View Appointment History
          </button>
        </div>
      </div>
    </div>
  </div>
  
  <div class="ui vertical stripe segment">
    <div class="ui middle aligned stackable grid container">
      <div class="row">
        <div class="eight wide column">
          <h3 class="ui header content-header">
            We make booking your appointments easy
          </h3>
          <p class="content-text">
            Worry no more about booking appointments, as we've made everything as
            easy as flying an A380 with little or no training, which means that 
            you might or might not crash it (more emphasis on the might part)
          </p>
          
          <h3 class="ui header content-header">
            We always keep you in the loop
          </h3>
          <p class="content-text">
            Whether your appointment is accepted or declined, or even if it's moved to
            a different date, we make sure to inform you as soon as possible,
            which probably means you'd probably get the mail 10 years from when we sent it,
            which is actually quite stellar if you ask me.
          </p>
        </div>
        
        <div class="six wide right floated column">
          <%= image_tag('appointments.jpeg', class: 'content-image')%>
        </div>
      </div>
    </div>
  </div>
  
  <div class="extra-space">
    
  </div>
</div>
