<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>You're getting a new doctor</h1>
    <p>
      Hi <span style="font-weight: bold; font-style: italic; font-size: 18px;"><%= @patient.name %> </span>,  due to some unforeseen circumstances, you'll be getting assigned to a new doctor. <br />
      We'll be sending a mail across soon with your new appointment details. We apologize for any inconvenience
      <!-- Add a link to the page for managing an appointment here -->
    </p>
  </body>
</html>
