<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>We have a new appointment</h1>
    <p>
      <%= @patient %> just booked an appointment with the following specialization: <%= @specialization %> 
      Please <%= link_to "confirm/decline", pending_appointments_url %> their appointments so that they can plan their days
      <!-- Add a link to the page for managing an appointment here -->
    </p>
  </body>
</html>
