<div class="resources-page">
  <h1 class="resources-header">All patients</h1>
  <div class="ui two column doubling stackable grid container all-resources">
    <%= render @patients %>
  </div>
</div>
