<div class="patient-details">
  <div class="ui raise very padded text container segment">
    <h1 class="header"><%= @patient.name %></h1>
    <p><%= @patient.email %> | <%= @patient.address %></p>
  </div>
</div>
