<div class="resources-page">
  <h1 class="resources-header">All Doctors</h1>
  <div class="ui two column doubling stackable grid container all-resources">
    <%= render @doctors %>
  </div>
</div>


  
