// Place all the styles related to the Appointments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.appointment {
  padding: 20vh 0;
  width: 60%;
  height: 70vh;
  margin: auto;
  .input-field {
    margin-bottom: 20px;
  }
}
