// Place all the styles related to the Patient controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.centered{
  width: 50%;
  margin: auto;
  .button-group {
    padding-top: 20px;
    .button-centered {
      width: 100%;
    }
  }
  .shared-links {
    font-size: 15px;
    margin-top: 10px;
  }
}

.doctor-details {
  padding-top: 10vh;
}

#patients-page {
  #patients-header {
    text-align: center;
  }
  #all-patients {
    .hidden {
      display: none;
    }
    padding-left: 200px;
    #card-column {
      margin-right: -100px;
      .card {
        height: 150px;
        width: 350px;
        border-top: green;
        .extra-content {
          padding: 20px 20px;
          font-size: 15px;
          color: grey;
        }
        .content {
          .image {
            margin-top: 5px;
            font-size: 25px;
            margin-bottom: -20px;
          }
          .patient-action-buttons {
            margin-top: -15px;
            #edit-patient {
              color: black;
            }
            #delete-patient {
              color: black;
            }
          }
          .header {
            a {
              color: black;
            }
            .vertical-ellipsis {
              color: #b2beb5;
              .button {
                background-color: #FFF;
              }
              #toggle-btn {
                margin-top: -6px;
              }
              #vertical-icon {
                color: black;
                &:hover {
                  cursor: pointer;
                  color: black;
                }
                &:visited {
                  color: black;
                }
              }
              &:hover {
                cursor: pointer;
              }
            }
          }
        }
      }
    }
  }  
}
