<h2>Future appointments</h2>
<div class="ui two column grid">
  <div class="row">
    <%= render partial: "appointment", collection: @appointments[:future_appointments] %>
  </div>
</div>
<%= will_paginate @appointments[:future_appointments], renderer: WillPaginateSemanticUi::ActionView::Renderer %>
