<h2>Past appointments</h2>
<%= render partial: 'appointment', collection: @appointments[:past_appointments] %>
<%= will_paginate @appointments[:past_appointments], renderer: WillPaginateSemanticUi::ActionView::Renderer %>
