<h2>Past appointments</h2>
<div class="ui grid">
  <div class="three column row">
    <%= render partial: 'appointment', collection: @appointments[:past_appointments] %>
  </div>
</div>
<%= will_paginate @appointments[:past_appointments], renderer: WillPaginateSemanticUi::ActionView::Renderer %>
