<% javascript_include_tag "pagination" %>
<div class="ui container">
  <div class="ui grid" id="user-appointments">
    <div class="six wide column" id="past-appointments">
      <%= render 'past_appointments' %></div>
    <div class="six wide column" id="future-appointments">
      <%= render 'future_appointments' %></div>
  </div>
</div>